body{
    font-family: cursive;
}

.speech {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
}

.direction {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    color: black;
    background-color: rgb(210, 255, 127);
    cursor: pointer; 
}


.direction:hover {
    background-color: Cyan;
    color: white;
}


.peter_stockmann {
    color: HotPink;
}
.peter_stockmann:hover{
    text-shadow:2px 3px 5px grey;
    border: 1px dotted black;
}

.mrs_stockmann {
    color: NavajoWhite;
}
.mrs_stockmann:hover{
    text-shadow:2px 3px 5px grey;
    border: 1px dotted black;
}
.Hovstad {
        color: blue;
}
.Hovstad :hover{
    text-shadow:2px 3px 5px grey;
    border: 1px dotted black;

} 




table{
    border-collapse: collapse;
    margin: auto;
    border: 1px solid rgb(234, 27, 82);
}

td, th{
    border: 1px solid rgb(202, 38, 76);
    padding: 10px;
    text-align: center;
}

tr:nth-child(odd){
    background-color:hsl(30, 74%, 49%)
}

tr:nth-child(even){
    background-color:hwb(323 73% 20%);
}

